[user]
  name = Daniël Illouz
  email = daniel.illouz@me.com

[color]
  ui = true
  branch = true
  diff = true
  interactive = true
  status = true

[color "status"]
  added = green
  changed = yellow
  deleted = red strike
  untracked = magenta
  branch = blue bold ul

[alias]
  aliases = config --get-regexp alias
  contribs = shortlog -sn
  tags = tag
  fuckit = !git reset --hard HEAD && git clean -d -f

[push]
  default = simple

[pull]
  rebase = true

[core]
  autocrlf = input

[pager]
  diff = diff-so-fancy | less -r
  show = diff-so-fancy | less -r

[help]
  autocorrect = -1

[commit]
  gpgsign = true
